@charset "utf-8";

@font-face {
	font-family: 'SpaceGrotesk-Regular';
	src: url( '../../../fonts/space_grotesk/SpaceGrotesk-Regular.ttf' );
}

@font-face {
	font-family: 'SpaceGrotesk-Bold';
	src: url( '../../../fonts/space_grotesk/SpaceGrotesk-Bold.ttf' );
}

@font-face {
	font-family: 'SpaceGrotesk-Light';
	src: url( '../../../fonts/space_grotesk/SpaceGrotesk-Light.ttf' );
}

@font-face {
	font-family: 'SpaceGrotesk-Medium';
	src: url( '../../../fonts/space_grotesk/SpaceGrotesk-Medium.ttf' );
}

@font-face {
	font-family: 'SpaceGrotesk-SemiBold';
	src: url( '../../../fonts/space_grotesk/SpaceGrotesk-SemiBold.ttf' );
}

body {
	background: url( '../../../images/stars.png' ) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	color: #dad8de;
  	font-family: 'SpaceGrotesk-Regular';
  	padding: 0;
  	margin: 0;
}

h1 {
	margin: 0px;
	font-size: 28px;
	font-family: 'SpaceGrotesk-Bold';
}

.body-container {
	padding: 20px;
	padding-top: 85px;
}

.section-container {
	background: rgba( 18, 18, 18, 0.8 );
	max-width: 400px;
	border-radius: 5px;
	padding: 15px;
	margin: 0 auto;
	box-shadow: 0 0px 1px rgba( 255, 255, 255, .3 ), 0 0px 10px rgba( 255, 255, 255, .3 );
}

.section-title {
	text-align: center;
}

.section-row {
	margin-top: 15px;
}

.section-or {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: #666666;
	font-size: 12px;
	user-select: none;
}

.input-default {
	outline: none;
	border: 1px solid #3b3b3b;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'SpaceGrotesk-Bold';
	color: #ffffff;
	background: #1f1f1f;
}

.input-default:hover {
	background: #363636;
}

.input-default:focus {
	background: #363636;
	box-shadow: 0 0px 1px rgba( 255, 255, 255, .3 ), 0 0px 10px rgba( 255, 255, 255, .3 );
}

.input-error-message {
	display: none;
	color: #d5462d;
	margin-top: 5px;
	font-size: 12px;
}

.input-default-error {
	border: 1px solid #d5462d;
}

.default-button {
	font-size: 16px;
	padding: 12px;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	user-select: none;
	font-family: 'SpaceGrotesk-Bold';
}

.default-button:active {
	box-shadow: inset 0 0 20px #ffffff;
}

.default-button.space-blue {
	background: #3a2e4f;
}

.default-button.space-blue:hover {
	background: #495373;
	cursor: pointer;
}

.header-container {
	position: fixed;
	width: 100%;
	background: rgba( 18, 18, 18, 0.8 );
	box-shadow: 0 0px 1px rgba( 255, 255, 255, .3 ), 0 0px 10px rgba( 255, 255, 255, .3 );
}

.header-container-inner {
	padding: 10px;
	user-select: none;
}

.header-logo {
	font-family: 'SpaceGrotesk-Bold';
	color: #dad8de;
	display: inline-block;
	font-size: 24px;
}

.header-logo img {
	display: block;
	float: left;
	margin-right: 10px;
	height: 32px;
}

.header-user-menu-container {
	float: right;
}

.user-menu-bars {
	z-index: 2;
	position: relative;
	cursor: pointer;
	color: #dad8de;
	font-size: 30px;
}

.user-menu-overlay {
	display: none;
	background: rgba( 18, 18, 18, 0.8 );
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
}

.user-menu-container {
	position: relative;
	z-index: 2;
	margin-top: 5px;
}

.user-menu-container.hide {
	display: none;
}

.user-menu-container-inner {
	position: absolute;
	background: rgba( 39, 39, 39, 0.8 );
	right: 0;
	width: 200px;
}

.user-menu {
	font-size: 16px;
	box-shadow: 0 0px 1px rgba( 255, 255, 255, .3 ), 0 0px 10px rgba( 255, 255, 255, .3 );
}

.user-menu-item {
	color: #dad8de;
	cursor: pointer;
	border-bottom: 1px solid #3b3b3b;
	padding: 10px;
}

.user-menu-item:hover {
	background: #7d7d7d;
}

.user-menu-item.last {
	border-bottom: 0px;
}

.user-menu-item-text {
	font-weight: bold;
	display: inline-block;
}

.user-menu-item-icon {
	float: right;
}

@media only screen and ( max-width: 1200px ) { /* mobile: do things when size is 1200px or less */
	h1 {
		font-size: 24px;
	}

	.body-container {
		padding: 10px;
		padding-top: 55px;
	}

	.header-logo {
		font-size: 18px;
	}

	.header-logo img {
		height: 24px;
	}

	.user-menu-bars {
		font-size: 24px;
	}

	.user-menu-container-inner {
		background: rgba( 39, 39, 39, 1 );
	}
}